* {
  margin: 0;
  padding: 0;
}

.searchForm {
  background-color: papayawhip;
  width: 80%;
  height: 2rem;
  /* margin: 0.25rem 0 0; */
  /* padding: 0 0.5rem 0.25rem; */
  margin: 3rem 2rem 2rem 3rem;
  padding: 0.9px;
  border: 2px solid #333;
  border-radius: 40px;
  cursor: pointer;
  outline: 2px green solid;
  outline-offset: 30px;
  box-shadow: 2px 2px;

  outline-width: 1px;
  display: flex;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"] {
  position: relative;
  max-width: 100%;

  flex-grow: 1; /* This is fantastic*/
  border: 2px solid #000;
  border-radius: 1.2rem;
  outline: none;
}
